.inst{
  width: 60px;
height: 40px;
}
#bottomvid{
  text-align: center;
}
#right {
float: right;
width: 600px;
height: 500px;
}
#left{
  float: left;
  width: 200px;
  height: 500px;
  padding: 2px;
}
#footer{
  text-align: center;
  height: 50px;
  clear: both;
}

#vids{
  text-align: center;
}
.pw1{
  float: right;
  padding-right: 2px;
}
.pw2{
  float: right;
  padding-right: 5px;
}


.cp, .calc{
  width:400px;
  height:400px;
  text-align: center;
}
.bo, .so, .b, .ez{
  width: 300px;
  height: 400px;
}
.m, .h, .s, .f, .w, .wa, .t, .d, .c{
  width: 405px;
  height: 400px;
  text-align: center
}

#wrapper{
  margin: 5px 10px 20px 5px;
  border: 1px black double;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  min-height: 1000px;
}
#header{
  margin: 2%;
  font-size: 30px;
  top: 10px;
  width: 100%;
  height: 100px;
  text-align: center;
  text-decoration: underline;
}
.p1{
  margin-top: -5%;
    font-size: 30px;
    font-variant: small-caps;
    text-align: center;
    font-style: italic;
}
.mm{
  float: right;
  width: 700px;
  height: 800px;
  margin-left:42%
}
.web{
  width: 420px;
  height: 315px;

}

.vid{
  margin-top:0%;
  width: 300px;
  height: 300px;
}
